#cart{
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-right: 0.65em;
  margin-left: 0.8em;
  margin-right: 2em;
  position: relative;
}

.popover .cartHeader {
  text-align: center;
  background-color: #E30804;
}

.center{
  margin: 0 auto; /* Establece márgenes izquierdo y derecho automáticos */
  display: block; 
}