/* 
TODO: Decide...
I found these global CSS styles (and others.
Should we put them on a global directory to
affect the complete app?
*/

*,
::after,
::before {
  box-sizing: border-box;
}

:host {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}
