.listContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5em;
  font-size: 0.8em;
}

.info{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttonSvg {
  margin: 0.5em;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.total {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;

}