.backGroundNav{
  background-color: #e20a03;
  border-radius: 5px;
  margin-left: 0.4em;
  margin-right: 0.4em;
  padding: 100%;
  color: #FFFFFF;
  margin-bottom: 3em;
}

.loginRegister{
  cursor: pointer;
  margin-right: 0.5em;

}

.navbar-brand.textColor {
  margin-left: 1em;
  color: #FFFFFF;
}


.textColorNavLink {
  color: #FFFFFF;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 2em;
  align-self: center;
  padding: 0;
  margin: 0;
}

.offcanvas-body.tab {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.whiteSpaceDiv{
  margin-top: 4em;
}