@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');



.backGroundNav{
  background-color: #e20a03;
  border-radius: 5px;
  margin-left: 0.4em;
  margin-right: 0.4em;
  padding: 100%;
  color: #FFFFFF;
  margin-bottom: 3em;
}

.loginRegister{
  cursor: pointer;
  margin-right: 0.5em;
  margin-left: 5rem;
  color: #FFFFFF;
}

.textColor {
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  font-size: 1.6rem;
  margin-left: 1em;
  color: #FFFFFF;
  margin: none;
}


.textColorNavLink {
  color: #FFFFFF;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 2em;
  align-self: center;
  padding: 0;
  margin: 0;
}

.offcanvas-body.tab {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.whiteSpaceDiv{
  height: 4em;
  background-color: #f9f9f9;
}